
<div>
    <div>
        <h2>Hi, Customer Name</h2>
    </div>
    <div class="button" id="b1">
        <button style="background-color: orange; height: 40px; width: 200px;" routerLink="submit-my-advt">Ad New Advt</button>
      </div>

      <div class="button" id="b2">
        <button style="background-color: orange; height: 40px; width: 200px;">View Profile</button>
      </div>

      <div class="button" id="b3">
        <button style="background-color: orange; height: 40px; width: 200px;">Logout</button>
      </div>
</div>
<br>

<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Advt.No</th>
              <th scope="col">Description</th>
              <th scope="col">Duration</th>
              <th scope="col">Actions</th>
              <th scope="col">Invoice</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" style="width: 10%"></th>
              <td style="width: 40%;"></td>
              <td style="width: 10%;"></td>
              <td style="width: 30%;">
                <button type="button" class="btn btn-primary" style="margin-left: 5%;">Edit</button>
                <button type="button" class="btn btn-success" style="margin-left: 5%;">Deactivate</button>
              <button type="button" class="btn btn-danger" style="margin-left: 5%;">Renew</button>
              </td>
              <td style="width: 10%;"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

