<!-- 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700"> -->

<!-- <div> -->
<div>
  <!-- <div class="header-dark" style="position: static;">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
      <div class="container">
        <a class="navbar-brand" href="#">Logo</a
        ><button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navcol-1"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav">
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="dropdown">
              <a
                class="dropdown-toggle nav-link dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="true"
                href="#"
                >Category
              </a>
              <div class="dropdown-menu" role="menu">
                  <option value="">National</option>
                <a class="dropdown-item" role="presentation" href="#"
                  >First Item</a
                ><a class="dropdown-item" role="presentation" href="#"
                  >Second Item</a
                ><a class="dropdown-item" role="presentation" href="#"
                  >Third Item</a
                >
              </div>
            </li>
            <li class="dropdown">
                <a
                  class="dropdown-toggle nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  aria-expanded="true"
                  href="#"
                  >Location
                </a>
                <div class="dropdown-menu" role="menu">
                    <option value="">National</option>
                  <a class="dropdown-item" role="presentation" href="#"
                    >First Item</a
                  ><a class="dropdown-item" role="presentation" href="#"
                    >Second Item</a
                  ><a class="dropdown-item" role="presentation" href="#"
                    >Third Item</a
                  >
                </div>
              </li>
          </ul>
          <form class="form-inline mr-auto" target="_self">
            <div class="form-group">
              <label for="search-field"><i class="fa fa-search"></i></label
              ><input
                class="form-control search-field"
                type="search"
                name="search"
                id="search-field"
              />
            </div>
          </form>
          <button (click)="submitmyadvt()" class="navbar-brand">Submit My Advt
          </button>
          
          <button
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navcol-1"
            >
              <span class="sr-only">Toggle navigation</span
              ><span class="navbar-toggler-icon"></span>
            </button>
          <span class="navbar-text">
            <button (click)="adminlogin()" class="login">Log In</button>
            </span>
            <a class="btn btn-light action-button" role="button" href="#" routerLink="registration">Sign Up</a>
        </div>
      </div>
    </nav> -->

  <!-- <div class="container hero">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h1 class="text-center">The Truth is out there.</h1>
                        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hAAlDoAtV7Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    </div>
                </div>
            </div> -->
  <!-- </div>
</div> -->

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/bootstrap.min.css">
        

  <div class="box">
    <div class="box1"><img src="" /></div>
    <div class="box2"><img src="" /></div>
    <div class="box3"><img src="" /></div>
    <div class="box4"><img src="" /></div>
  </div>

 
  <div>
    <a href="#"></a>
  </div>

  <h2>Related Search</h2>

  <div class="box">
    <div class="box5">Ad 05</div>
    <div class="box6">Ad 06</div>
    <div class="box7">Ad 07</div>
    <div class="box8">Ad 08</div>
  </div>

  <!-- <div class="button">
    <button style="background-color: orange; height: 40px; width: 200px;" (click)="share()"> Call | Whatsapp | Share
    </button>
  </div> -->

  <div class="button">
    <button id="more">More</button>
  </div>

 

  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>